


    <div class="head">
        <div class="img1">
            <img src="../assets/ts.jpeg" alt="">
        </div>
        <div class="tital">
            <h1>తెలంగాణ రాష్ట్ర ప్రభుత్వం <br>అభయహస్తం</h1>
        </div>
        <div class="img2">
            <img src="../assets/cs.jpeg" alt="">
        </div>
    </div>

    <div class="home">
         Home > Results online
    </div>
   

    <div class="head1">
        <div class="img1">
            <img src="../assets/f.jpeg" alt="">
        </div>
        <div class="tital">
            <h2>ప్రజా పాలన</h2>
            <div class="tital1"> 28.12.2023-06.01.2024</div>
            
        <div class="tital2"> ప్రజా పాలన దరఖాస్తు</div>
           <div class="tital3"> (మహాలక్ష్మి / రైతు భరోసా / గృహ జ్యోతి/ ఇందిరమ్మ ఇండ్లు చేయూత పథకముల కొరకు)</div>
        
        </div>
        <div class="img2">
            <img src="../assets/r.jpeg" alt="">
        </div>
    </div>

    <div class="page">
        <div class="but1">
            <button class="b1">Page1</button>
            <button class="b2">Page2</button>
        </div>
        <div class="but2">
            <button class="b2">Page3</button>
        </div>
        
    </div>


    <div class="formpage3">
        <div class="tital3">
            ప్రజా పాలన దరఖాస్తు రశీదు
        </div>

        <form action="">
            <div class="info3">
                <div class="inputbox1">
                    <div class="txt">జీపీ / వార్డ్ కోడ్:</div>  
                    <input type="text" >
                    <div class="txt">దరఖాస్తు సంఖ్య:  </div>  
                    <input type="text" >
                </div>

                <div class="inputbox2">
                    <div class="div1">
                        <div class="div11">
                            <div class="txt">శ్రీ / శ్రీమతి: </div>  
                        <input type="text" >
                        </div>
                        <div class="txt">తండ్రి/ భర్త పేరు:  </div>  
                        <input type="text" >
                        <div class="txt">గారి నుండి </div>
                   </div> 

                   <div class="div2">
                        <div class="div21">
                            <div class="txt">మహాలక్ష్మి పథకం:</div>
                            <input type="text" >
                        </div>
                        

                        <div class="txt">రైతు భరోసా పథకం:</div>  
                        <input type="text" >

                        <div class="txt">ఇందిరమ్మ ఇండ్లు పథకం:</div>  
                        <input type="text" >
                   </div>

                   <div class="div3">
                        <div class="div31">
                            <div class="txt">గృహ జ్యోతి పథకం:</div>
                            <input type="text" >
                        </div>

                        <div class="div32">
                            <div class="txt">చేయూత పథకం:</div>  
                            <input type="text" >
                        </div>

                    <div class="txt">కొరకు సమర్పించిన దరఖాస్తును స్వీకరించడమైనది.</div>  
                    </div>
               </div>

                <div class="inputbox3">
                    <div class="div31">
                        <div class="n1">
                            <div class="txt">గ్రామం / మున్సిపాలిటీ:</div>
                            <input type="text" >
                        </div>
                        <div class="n2">
                            <div class="txt">వార్డు నం.:</div>
                            <input type="text" >
                        </div>
                        <div class="n3">
                            <div class="txt">మండలం:</div>
                            <input type="text" >
                        </div>
                        <div class="n4">
                            <div class="txt">జిల్లా:</div>
                            <input type="text" >
                        </div>
                        <div class="n5">
                            <div class="txt">తేదీ:</div>
                            <input type="text" placeholder="DD-MM-YYYY" >
                            <i class='bx bx-calendar'></i>
                        </div>

                    </div>
                    <div class="div33">
                        <div class="n6">
                            <div class="txt">అధికారి సంతకం:</div>
                            <i class='bx bx-image-add'></i>
                            <input type="text"  placeholder="సంతకం అప్‌లోడ్">
                        </div>

                        <div class="n7">
                            <div class="txt">పేరు:</div>
                            <input type="text" >
                        </div>

                        <div class="n8">
                            <div class="txt">హోదా:</div>
                            <input type="text" >
                        </div>
                    </div>
                </div>
                
                <div class="inputbox4">
                    <img src="../assets/scre.png" alt="">
                </div>


            </div>
        </form>
          
     

      

            
   
        <div class="foot">
            <button >Previous</button>పగతి పథం.. సకలజన హితం.. మన పజా ప్రభుత్వం! 
        </div>

    </div>

    <!-- footer -->
    <!-- <footer>
        <div class="foot1">
            <div class="foot11">
                <div class="foot2">
                    <div class="foot21">
                        <ul>Lern More</ul>
                    </div>

                    <div class="foot22">
                        <ul>Our Blog</ul>
                        <ul>Rover Guantee</ul>
                        <ul>Safety</ul>
                        <ul>Q&A Community</ul>
                        <ul>Store</ul>
                    </div>  
                </div>

                <div class="foot3">
                    <div class="foot31">
                        <ul>About</ul>
                    </div>

                    <div class="foot32">
                        <ul>About us</ul>
                        <ul>Contect us</ul>
                        <ul>Accessibility</ul>
                        <ul>Get the App</ul>
                        <ul>Press</ul>
                        <ul>Careers</ul>
                        <ul>investor Relation</ul>
                    </div>
                </div>

                <div class="foot4">
                    <div class="foot31">
                        
                    </div>

                    <div class="foot42">
                        <ul>Privacy Statement</ul>
                        <ul>Cookie Policy <br>CA - Do Not Sell My <br>info</ul>
                        <ul>Terms of Service</ul>
                        
                    </div>
                </div>

                <div class="foot5">
                    <div class="foot51">
                        <ul>Need Halp?</ul>
                    </div>

                    <div class="foot52">
                        <ul>Help Center</ul>
                        
                    </div>
                </div>

                <div class="foot6">
                    <ul>Get find out more about promotions and <br> consultations in your inbox:</ul>
                    <div class="foot61">
                        <input type="text" placeholder="Email" >
                        <button type="submit">Submit</button>
                    </div>
                    <ul>By providing my e-mail address, I consent to <br> receive marketing communications from <br>LABORATOREX and its affiliates.</ul>
                    <ul><b>Privacy Policy</b></ul>
                </div>
            </div>

            <div class="foot12">
                <div class="foot121">
                    <i class='bx bx-copyright'></i> 2022 LOGO,INC. All Right Reserved.
                </div>
                <div class="foot122">
                    711 Capitol Way S., Suite 204, Olympia, WA 98501
                </div>
                <div class="foot123">
                    <i class='bx bxl-facebook-circle'></i>
                    <i class='bx bxs-envelope'></i>
                    <i class='bx bxl-linkedin' ></i>
                </div>
            </div>
        </div>

    </footer>

     -->
