


    <div class="head">
        <div class="img1">
            <img src="../assets/ts.jpeg" alt="">
        </div>
        <div class="tital">
            <h1>తెలంగాణ రాష్ట్ర ప్రభుత్వం <br>అభయహస్తం</h1>
        </div>
        <div class="img2">
            <img src="../assets/cs.jpeg" alt="">
        </div>
    </div>

    <div class="home">
         Home > Results online
    </div>
   

    <div class="head1">
        <div class="img1">
            <img src="../assets/f.jpeg" alt="">
        </div>
        <div class="tital">
            <h2>ప్రజా పాలన</h2>
            <div class="tital1"> 28.12.2023-06.01.2024</div>
            
        <div class="tital2"> ప్రజా పాలన దరఖాస్తు</div>
           <div class="tital3"> (మహాలక్ష్మి / రైతు భరోసా / గృహ జ్యోతి/ ఇందిరమ్మ ఇండ్లు చేయూత పథకముల కొరకు)</div>
        
        </div>
        <div class="img2">
            <img src="../assets/r.jpeg" alt="">
        </div>
    </div>

    <div class="page">
        <div class="but1">
            <button class="b1">Page1</button>
        </div>
        <div class="but2">
            <button class="b2">Page2</button>
        </div>
        <div class="but3">
            <button class="b2">Page3</button>
        </div>
        
    </div>


    <div class="formpage2">
        <div class="tital2">
           <h2>అభయహస్తం గ్యారంటీ పథకాలు లబ్ది <br> పొందటానికి వివరాలు</h2> 
           <div class="hr">
           </div>
           <h2>(కావాల్సిన పథకాల లబ్ధి కొరకు √చేయండి)</h2>
        </div>
        <div class="progressbar2">
           

            <div class="no1">
               <img src="../assets/2-1.png" alt="">
            </div>

            <div class="no2">
                <img src="../assets/2-2.png" alt="">
             </div>

             <div class="no3">
                <img src="../assets/2-3.png" alt="">
             </div>

             <div class="no4">
                <img src="../assets/2-4.png" alt="">
             </div>

             <div class="no5">
                <img src="../assets/2-5.png" alt="">
             </div>

        </div>
        <form action="">
            <div class="info2">
                <div class="inputbox1">
                    <div class="div1">మహాలక్ష్మి పథకం:</div>

                    <div class="div2">
                        <div class="num">1.</div>
                        <div class="txt">ప్రతి నెల రూ. 2500  ఆర్థిక సహాయం</div>  
                        <input type="text" required>
                    </div>

                    <div class="div3">
                        <div class="num">2.</div>
                        <div class="txt">రూ. 500  లకు గ్యాస్ సిలిండర్</div>  
                        <input type="text" required>
                    </div>

                    <div class="div4">
                        <div class="txt">గ్యాస్ కనెక్షన్ నెం:</div>  
                        <input type="text" placeholder="కనెక్షన్ నెం">
                    </div>

                    <div class="div5">
                        <div class="txt">సరఫరా చేస్తున్న కంపెనీ పేరు:</div>  
                        <input type="text" placeholder="పేరు">
                    </div>

                    <div class="div6">
                        <div class="txt">సంవత్సరానికి వినియోగిస్తున్న <br>గ్యాస్ సిలిండర్ల సంఖ్య:</div>  
                        <input type="text" placeholder="సంఖ్య">
                    </div>

                </div>

                <div class="inputbox2">
                    <div class="div1">రైతు భరోసా పథకం:</div>

                    <div class="div2">
                        <div class="num">1.</div>
                        <div class="txt">రైతులకు ప్రతి ఏటా ఎకరానికి రూ<b>.15000</b></div>  
                        <input type="text" required>
                    </div>

                    <div class="div3">
                        <div class="txt">రైతు:</div>  
                        <input type="text" >
                        <div class="txt1">కౌలు రైతు:</div>  
                        <input type="text" >
                    </div>

                    <div class="div4">
                        <div class="txt">పట్టాదారు పాసు పుస్తకం నంబర్లు:</div>  
                        <input type="text" placeholder="సంఖ్య">
                    </div>

                    <div class="div5">
                        <div class="txt">సాగు చేస్తున్న భూమి వివరాలు:</div>  
                        <input type="text" placeholder="(సర్వే నం., విస్తీర్ణం)">
                    </div>

                    <div class="div6">
                        <div class="num">2.</div>
                        <div class="txt">వ్యవసాయ కూలీలకు ఏటా రూ.<b>12000</b></div>  
                        <input type="text" required>
                    </div>

                    <div class="div7">
                        <div class="txt">ఉపాధి హామీ కార్డు నెంబర్:</div>  
                        <input type="text" placeholder="నెంబర్">
                    </div>
                </div>

                <div class="inputbox3">
                    <div class="div1">ఇందిరమ్మ ఇండ్లు పథకం:</div>

                    <div class="div2">
                        <div class="num">1.</div>
                        <div class="txt">ఇల్లు లేని అర్హులైన కుటుంబానికి:</div>  
                    </div>

                    <div class="div3">
                        <div class="txt">ఇంటి నిర్మాణానికి ఆర్థిక సాయం:</div>  
                        <input type="text">
                    </div>

                    <div class="div14">
                        <div class="num">2.</div>
                        <div class="txt">అమరవీరులు మరియు ఉద్యమకారులకు 250 చ. గజాల ఇంటి స్థలం</div>  
                    </div>

                    <div class="div15">
                        <div class="txt">అమరవీరుల కుటుంబం:</div>  
                        <input type="text">
                    </div>

                    <div class="div4">
                        <div class="txt">అమరవీరుల పేరు:</div>  
                        <input type="text" placeholder="పేరు">
                    </div>

                    <div class="div5">
                        <div class="txt">అమరులైన సంవత్సరం:</div>  
                        <input type="text" placeholder="పసంవత్సరం">
                    </div>

                    <div class="div6">
                        <div class="txt">FIR నంబరు:</div>  
                        <input type="text" placeholder="నంబరు">
                    </div>

                    <div class="div7">
                        <div class="txt">డెత్ సర్టిఫికెట్ నంబరు:</div>  
                        <input type="text" placeholder="నంబరు">
                    </div>

                    <div class="div8">
                        <div class="txt">తెలంగాణ ఉద్యమములో పాల్గొన్నారా?</div>
                        <div class="txt1">అవును:</div>  
                        <input type="text" >
                        <div class="txt1">కాదు:</div>  
                        <input type="text" >
                    </div>

                    <div class="div9">
                        <div class="txt">అవును అయినచో, సంబంధిత FIR <br>నంబరు మరియు సంవత్సరం:</div>  
                        <input type="text" >
                    </div>

                    <div class="div10">
                        <div class="txt">ఒక వేళ, జైలుకు వెళ్ళినచో వాటి వివరాలు:</div>  
                    </div>

                    <div class="div11">
                        <div class="txt">జైలు పేరు:</div>  
                        <input type="text" >
                    </div>

                    <div class="div12">
                        <div class="txt">స్థలం:</div>  
                        <input type="text" >
                    </div>

                    <div class="div13">
                        <div class="txt">శిక్ష సంబంధిత <br> వివరాలు:</div>  
                        <input type="text" placeholder="(శిక్షా కాలం)">
                    </div>

                </div>

                <div class="inputbox4">
                    <div class="div1">గృహ జ్యోతి పథకం:</div>

                    <div class="div2">
                        <div class="num">1.</div>
                        <div class="txt">ఇల్లు లేని అర్హులైన కుటుంబానికి:</div>  
                    </div>

                    <div class="div4">
                        <div class="txt">మీ నెలసరి గృహ విద్యుత్తు వినియోగం:</div>
                    </div>

                    <div class="div5">
                        <div class="txt">0-110 యూనిట్లు:</div>  
                        <input type="text" >
                    </div>

                    <div class="div6">
                        <div class="txt">110-200 యూనిట్లు:</div>  
                        <input type="text" >
                    </div>

                    <div class="div7">
                        <div class="txt">200 యూనిట్లు:</div>  
                        <input type="text" >
                    </div>

                    <div class="div8">
                        <div class="txt">గృహ వినియోగ విద్యుత్ మీటర్ కనెక్షన్ సంఖ్య:</div>  
                        <input type="text" >
                    </div>
                </div>

                <div class="inputbox5">
                    <div class="div1">చేయూత పథకం:</div>

                    <div class="div2">
                        చేయూత పథకం కింద నెలకు రూ.4000 మరియు దివ్యాంగుల పింఛన్ రూ.6000 <br>పొందేందుకు ఈ కింది వివరములను తెలపండి.   
                    </div>

                    <div class="div3">
                        (ప్రస్తుతం పింఛన్ పొందుతున్నవారు దరఖాస్తు చేయనవసరం లేదు)
                    </div>

                    <div class="div4">
                        <div class="num">1.</div>
                        <div class="txt1">దివ్యాంగులు:</div>  
                        <input type="text" >
                        <div class="txt1">సదరం సర్టిఫికెట్ నంబర్:</div>  
                        <input type="text" >
                    </div>

                    <div class="div5">
                        <div class="num">2.</div>
                        <div class="txt1">ఇతరులు:</div>  
                    </div>

                    <div class="div6">
                        <div class="txt1">వృద్ధాప్య:</div>  
                        <input type="text" >
                        <div class="txt1">వితంతు:</div>  
                        <div class="div61"><input type="text" ></div>         
                    </div>

                    <div class="div7">
                        <div class="txt1">గీత కార్మికులు:</div>  
                        <input type="text" >
                        <div class="txt1">చేనేత కార్మికులు:</div>
                        <div class="div71"><input type="text" ></div>  
                        
                    </div>

                    <div class="div8">
                        <div class="txt1">డయాలిసిస్ బాధితులు:</div>  
                        <input type="text" >
                        <div class="txt1">ఎయిడ్స్ వ్యాధిగ్రస్తులు:</div>
                        <div class="div81"><input type="text" ></div>
                        
                    </div>

                    <div class="div9">
                        <div class="txt1">బీడీ కార్మికుల జీవన భృతి:</div>  
                        <input type="text" >
                        <div class="txt1">ఫైలేరియా బాధితులు:</div>  
                        <div class="div91"><input type="text" ></div>
                    </div>

                    <div class="div10">
                        <div class="txt1">ఒంటరి మహిళ జీవన భృతి:</div>  
                        <input type="text" >
                        <div class="txt1">బీడీ టెకేదారు జీవన భృతి:</div>  
                        <input type="text" >
                    </div>


                </div>

                <div class="inputbox6">

                    <div class="div1">జతపరచవలసిన ప్రతులు:</div>

                    <div class="div2">
                        <div class="num">1.</div>
                        <div class="txt">ఆధార్ కార్డ్ జిరాక్స్ ప్రతి</div>  
                    </div>

                    <div class="div2">
                        <div class="num">2.</div>
                        <div class="txt">తెల్ల రేషన్ కార్డ్ జిరాక్స్ ప్రతి</div>  
                    </div>

                    <div class="div3">పైన సమర్పించిన వివరాలు అన్నీ వాస్తవమని ధృవీకరిస్తున్నాను</div>
                    
                    <div class="div4">
                        <div class="div41">
                            <div class="div411"><i class='bx bx-image-add'></i></div>
                            <input type="text" placeholder="సంతకం అప్‌లోడ్">
                            <div class="div412"><i class='bx bx-check-circle'></i></div>
                        </div>
                        <div class="div42">
                            <div class="txt">పేరు:</div>  
                            <input type="text" >
                        </div>
                    </div>

                    <div class="div5">
                        
                        <div class="div51">
                            <div class="txt">తేదీ:</div>  
                            <input type="text" placeholder="MM-DD-YYYY" >
                            <i class='bx bx-calendar'></i>
                        </div>
                    </div>
                </div>




            </div>
        </form>


        <div class="hr2">

        </div>

        <div class="foot">
            <button >Privious</button> పగతి పథం.. సకలజన హితం.. మన పజా ప్రభుత్వం! <button >Next</button>
        </div>

    </div>


    <!-- <footer>
        <div class="foot1">
            <div class="foot11">
                <div class="foot2">
                    <div class="foot21">
                        <ul>Lern More</ul>
                    </div>

                    <div class="foot22">
                        <ul>Our Blog</ul>
                        <ul>Rover Guantee</ul>
                        <ul>Safety</ul>
                        <ul>Q&A Community</ul>
                        <ul>Store</ul>
                    </div>  
                </div>

                <div class="foot3">
                    <div class="foot31">
                        <ul>About</ul>
                    </div>

                    <div class="foot32">
                        <ul>About us</ul>
                        <ul>Contect us</ul>
                        <ul>Accessibility</ul>
                        <ul>Get the App</ul>
                        <ul>Press</ul>
                        <ul>Careers</ul>
                        <ul>investor Relation</ul>
                    </div>
                </div>

                <div class="foot4">
                    <div class="foot31">
                        
                    </div>

                    <div class="foot42">
                        <ul>Privacy Statement</ul>
                        <ul>Cookie Policy <br>CA - Do Not Sell My <br>info</ul>
                        <ul>Terms of Service</ul>
                        
                    </div>
                </div>

                <div class="foot5">
                    <div class="foot51">
                        <ul>Need Halp?</ul>
                    </div>

                    <div class="foot52">
                        <ul>Help Center</ul>
                        
                    </div>
                </div>

                <div class="foot6">
                    <ul>Get find out more about promotions and <br> consultations in your inbox:</ul>
                    <div class="foot61">
                        <input type="text" placeholder="Email" >
                        <button type="submit">Submit</button>
                    </div>
                    <ul>By providing my e-mail address, I consent to <br> receive marketing communications from <br>LABORATOREX and its affiliates.</ul>
                    <ul><b>Privacy Policy</b></ul>
                </div>
            </div>

            <div class="foot12">
                <div class="foot121">
                    <i class='bx bx-copyright'></i> 2022 LOGO,INC. All Right Reserved.
                </div>
                <div class="foot122">
                    711 Capitol Way S., Suite 204, Olympia, WA 98501
                </div>
                <div class="foot123">
                    <i class='bx bxl-facebook-circle'></i>
                    <i class='bx bxs-envelope'></i>
                    <i class='bx bxl-linkedin' ></i>
                </div>
            </div>
        </div>

 
    </footer> -->

    

