<div class="head">
    <div class="img1">
        <img src="../assets/ts.jpeg" alt="">
    </div>
    <div class="tital">
        <h1>తెలంగాణ రాష్ట్ర ప్రభుత్వం <br>అభయహస్తం</h1>
    </div>
    <div class="img2">
        <img src="../assets/cs.jpeg" alt="">
    </div>
</div>

<div class="home">
     Home > Results online
</div>


<div class="head1">
    <div class="img1">
        <img src="../assets/f.jpeg" alt="">
    </div>
    <div class="tital">
        <h2>ప్రజా పాలన</h2>
        <div class="tital1"> 28.12.2023-06.01.2024</div>
        
    <div class="tital2"> ప్రజా పాలన దరఖాస్తు</div>
       <div class="tital3"> (మహాలక్ష్మి / రైతు భరోసా / గృహ జ్యోతి/ ఇందిరమ్మ ఇండ్లు చేయూత పథకముల కొరకు)</div>
    
    </div>
    <div class="img2">
        <img src="../assets/r.jpeg" alt="">
    </div>
</div>

<div class="page">
    <button >Page1</button>
    <button >Page2</button>
    <button  >Page3</button>
</div>

<div class="formpage">
    <form action="">
        <h1>కుటుంబ వివరాలు</h1>
        <div class="ftital">దరఖాస్తుదారు వివరాలు:</div>
        <div class="info">
            <div class="inputbox">
                <div class="div1">దరఖాస్తుదారు (ఇంటి యజమాని) పేరు:</div>
                <input type="text" placeholder="ఇంటి యజమాని పేరు:" required>
            </div>

            <div class="inputbox1">
                <div class="div1">లింగం:</div>
                
                <div class="div2">
                    <label for=""><input type="checkbox" >స్త్రీ </label>
                    <label for=""><input type="checkbox" >పురుషుడు</label>
                    <label for=""><input type="checkbox" >ఇతరులు</label>
                </div>
                
            </div>

            <div class="inputbox2">
                <div class="div1">కులం:</div>
                
                <div class="div2">
                    <label for=""><input type="checkbox" >ఎస్సీ </label>
                    <label for=""><input type="checkbox" >ఎస్టీ</label>
                    <label for=""><input type="checkbox" >బీసీ</label>
                    <label for=""><input type="checkbox" >ఇతరులు</label>
                    <label for=""><input type="checkbox" >ఇతరులు</label>

                </div>
            </div>
            <div class="inputbox3">
                <div class="div1">పుట్టిన తేదీ:</div>
                
                <div class="div2">
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required> 

                </div>
            </div>

            <div class="inputbox4">
                <div class="div1">పుట్టినఆధార్ నంబరు:</div>
                
                <div class="div2">
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required> 

                </div>
            </div>

            <div class="inputbox5">
                <div class="div1">మొబైల్ నంబరు:</div>
                
                <div class="div2">
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required>
                   <input type="number" class="code" placeholder="" min="0" max="9" required> 

                </div>
            </div>

            <div class="inputbox6">
                <div class="div1">రేషన్ కార్డు నంబరు:</div>
                <input type="text" placeholder="రేషన్  నంబరు:" required>
            </div>

            <div class="inputbox7">
                <div class="div1">వృత్తి:</div>
                <input type="text" placeholder="వృత్తి:" required>
            </div>

            <div class="inputbox8">
                <div class="div1">కుటుంబ సభ్యుల వివరాలు:</div>
                
                <div class="div2">
                    <i class='bx bx-calendar'></i> Add
                </div>
                
            </div>

            <div class="table">
                <table border="0">
                    <thead>
                        <tr>
                            <th width="14%"> క్రమ సంఖ్య:<i class='bx bx-down-arrow-alt' ></i></th>
                            <th width="14%"> పేరు:<i class='bx bx-down-arrow-alt' ></i></th>
                            <th width="28%"> దరఖాస్తుదారునితో సంబంధం<i class='bx bx-down-arrow-alt' ></i></th>
                            <th width="12%"> లింగం:<i class='bx bx-down-arrow-alt' ></i></th>
                            <th width="14%"> పుట్టిన తేదీ:<i class='bx bx-down-arrow-alt' ></i></th>
                            <th width="14%"> ఆధార్ నంబరు<i class='bx bx-down-arrow-alt' ></i></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td><i class='bx bx-edit-alt'></i> 01</td>
                            <td>Niraj</td>
                            <td>Father</td>
                            <td>పురుషుడు</td>
                            <td>DD-MM-YYYY</td>
                            <td>0182211145545</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            

            <div class="ftital">చిరునామా:</div>
            <div class="inputbox9">
                <div class="div1">డోర్ నంబర్ & వీధి:</div>
                <input type="text" placeholder="నంబర్ & వీధి" required>
            </div>
            <div class="inputbox9">
                <div class="div1">గ్రామం / మున్సిపాలిటీ:</div>
                <input type="text" placeholder="" required>
            </div>
            <div class="inputbox9">
                <div class="div1">వార్డు నం.:</div>
                <input type="text" placeholder="వార్డు నంబర్" required>
            </div>
            <div class="inputbox9">
                <div class="div1">మండలం & జిల్లా:</div>
                <input type="text" placeholder="మండలం & జిల్లా" required>
            </div>

            <div class="inputbox10">
                <div class="div1">దరఖాస్తు సంఖ్య:</div>
                <input type="text" placeholder="సంఖ్య" required>
            </div>

            <div class="inputbox10">
                <div class="div1">దరఖాస్తు సంఖ్య:</div>
                <!-- <i class='bx bx-image-add'></i> -->
                <input type="text" placeholder="ఫోటో అప్‌లోడ్:" required>
            </div>




        </div>
       
    </form>
    <div class="hr"></div>
    <div class="foot">
        పగతి పథం.. సకలజన హితం.. మన పజా ప్రభుత్వం! <button >Next</button>
    </div>

</div>